.wrap {
  height: 340px;
  overflow-y: scroll;
  padding-right: 20px;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(52, 140, 228);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 125, 207);
}

/*Animation*/
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
